*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

/*--Boot CSS--*/

.center
{
    max-width:1280px;
    padding:0 2%;
    margin: 0 auto;
}

.w33
{
    width:33%;
}

.w50
{
    padding:0 2%;
    width:50%;
}

.left
{
    float:left;
}

.right
{
    float:right;
}

.clear
{
    clear:both;
}

/*--estilização da página--*/

header
{
    padding:20px 0;
    background-color: #3d437a;
}

.logomarca
{
    font-size: 25px;
    color:white;
    font-weight: 300;
    text-transform:uppercase;
}

.mobile
{
    display:none;
}

nav.botao-menu-mobile
{
    display:none;
}

nav.desktop ul
{
    position: relative;
    top:6px;
    list-style-type:none;
}

nav.desktop li
{
    font-size: 16px;
    margin:0 30px;
    font-weight: 300;
    text-transform: uppercase;
    display:inline-block;
}

nav.desktop li a
{
    color:#ffffff;
    text-decoration: none;
}

.banner-principal
{
    position:relative;
    width:100%;
    height:600px;
    background-image: url('../images/bg-principal.jpg');
    background-size: cover;
}
.overlap
{
    position:absolute;
    width:100%;
    height:100%;
    background-color: rgba(26, 25, 25, 0.7);
    z-index:1;
}

.form 
{
    width:100%;
    max-width: 500px;
    position: absolute;
    z-index:2;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    -ms-transform:translate(-50%, -50%);
}

.form h2
{
    color:white;
    font-weight:300;
    font-size:30px;
    text-align:center;
}

.form input[type=email]
{
    width:100%;
    height:60px;
    font-size:22px;
    background-color: white;
    color:#333;
    padding:8px;
    margin-top:8px;
    border:none;
}

.form input[type=submit]
{
    width:100%;
    height:60px;
    font-size:22px;
    background-color: rgb(23, 165, 184);
    color:#ffffff;
    padding:8px;
    margin-top:8px;
    cursor:pointer;
    border:none; 
}

section.descricao-autor
{
    padding:30px 0;
}

section.descricao-autor h2
{
    color:#444;
    font-size:30px;
    font-weight:400;
}

section.descricao-autor p
{
    color:#444;
    margin-top:10px;
    text-align: justify;
}

section.descricao-autor img
{
    width:50%;
    border-radius:0%;
}

section.especialidades
{
    padding:30px 0;
    background-color:#cccaca;
}

section.especialidades h2
{
    color:#888;
    text-align: center;
    font-weight:400px;
}

section.especialidades .box-especialidades
{
    padding:18px;
}

section.especialidades .box-especialidades h3
{
    color:#6a3fbb;
    margin-top:20px;
    font-size:32px;
    text-align: center;
}

section.especialidades .box-especialidades h4
{
    color:#999;
    margin:8px 0;
    font-size:24px;
    text-align: center;
}

section.especialidades p
{
    color:#333;
    font-size:16px;
    text-align: center;
}

section.extras
{
    padding-top:20px;
    padding-bottom:80px;
    background-color:#3d437a;
    font-weight: 200;
}

.depoimentos, .servicos
{
    color:white;
    font-weight: 200;
}

.depoimentos h2, .servicos h2
{
    margin-bottom:30px;
    color:white;
    font-weight: 200;
    font-weight: 200;
}

section.extras .depoimentos p
{
    font-size:14px;
    margin-top:14px;
}

section.extras .servicos li
{
    font-size:14px;
    margin-top:14px;
}

.depoimento-single
{
    border-bottom:1px solid #999;
    padding-bottom:8px;
}

footer
{
    background-color:#232649;
}
footer p
{
    text-align:center;
    padding:14px 0;
    color:white;
}

@media (max-width:750px)
{
    section.descricao-autor img
    {
        display:block;
        float:none !important;
        max-width:350px;
        margin:32px auto;
    }
    .w50
    {
        width:100%;
    }

    nav.desktop
    {
        display:none;
    }

    .botao-menu-mobile
    {
        color:white;
        font-size:32px;
        cursor:pointer;
    }

    nav.mobile
    {
        display:block;
    }

    nav.mobile ul
    {
        width:100%;
        position:absolute;
        display:none;
        left:0;
        top:80px;
        z-index:3;
        list-style-type: none;
    }

    nav.mobile ul li
    {
        padding:14px;
        width:100%;
        background-color: rgb(226, 224, 224);
        border-bottom: 1px solid #aaaaaa;
    }

    nav.mobile ul li a
    {
        display:block;
        color:#444444;
        text-decoration:none;
        cursor:pointer;
    }

}

@media (max-width:700px)
{
    .w33
    {
        width:100%;
    }
}
